------
<% history_data = history_data["DataChangeAudit"] %>
<div class="field">
   Agency Holidays:
    <%= history_data["HolidaysObservedNote"] %>
</div>

<div class="field">
    Holiday effective date :
    <%= history_data["HolidayEffectiveDate"] %>
</div>