---------
<% history_data = history_data["DataChangeAudit"] %>
<div class="field">
    Fixed Rate :
    <%= history_data["FixedEmployeeRate"] %>
</div>

<div class="field">
    Fixed Dollar Amount :
    <%= history_data["FixedEmployeeAmt"] %>
</div>

<div class="field">
    Limit Calculation Frequency :
    <%= history_data["EELimitFreqCalcCD"] %>
</div>

<div class="field">
    Rate Effective Date :
    <%= history_data["DataEffectiveDate"] %>
</div>