<% history_data = history_data["DataChangeAudit"] %>
<div class="field">
    Wage Base Amount :
    <%= history_data["EmployerWageBaseAmt"] %>
</div>

<div class="field">
    Wage Base Effective Date :
    <%= history_data["DataEffectiveDate"] %>
</div>