<% history_data = history_data["DataChangeAudit"] %>
<div class="field">
    When does the employee's paystub need to be provided? (Web) :
    <%= history_data["GeneralDeliveryReqNote"] %>
</div>

<div class="field">
    What requirements are there if an employer wants to provide pay stubs electronically or online? :
    <%= history_data["ElectronicDeliveryReqNote"] %>
</div>

<div class="field">
    What are the requirements for providing a written or a hardcopy pay stub to the employee? (Web) :
    <%= history_data["PaperDeliveryReqNote"] %>
</div>

<div class="field">
    Effective Date :
    <%= history_data["DataEffectiveDate"] %>
</div>